.logo__block {
   position: absolute;
   right: 0;
   top: 20px;
   width: 98px;
   height: 60px;
   background: url('/assets/img/logo/logos1.png') 0 0/cover no-repeat;
}

h4 {
   margin-top: 0;
   font-style: bold;
   font-size: 24px;
   line-height: 36px;
   color: #27AAF0;
   text-transform: uppercase;
}

:host(.ng-touched.ng-invalid){
   border-color: red;
   background: rgb(241, 223, 223);
  }

