<div class="container">
   <div class="bar">
      <div class="header">
         <img alt="" src="/assets/img/icons/menu.png" width="20" height="14">
         <img alt="" src="/assets/img/logo/Black logo.png">
      </div>
      <div class="user_block">
         <img alt="" src="/assets/img/avatars/Default avatar.png" width="30" height="30">
         <p>Tylor Tyly</p>
      </div>
      <div class="pages_block">
         <div class="dashboard">
            <img alt="" src="/assets/img/icons/dashboard.png">
            <p>Dashboard</p>
         </div>
         <div class="newsfeed">
            <a routerLink="createarticle">
               <img alt="" src="/assets/img/icons/newspaper.png">
               <p>New Feed</p>
            </a>
            
         </div>
      </div>
   </div>
   <router-outlet></router-outlet>
</div>






