
.bar {
   font-family: 'Quicksand', sans-serif;
   display: flex;
   height: 100%;
   width: 260px;
   flex-direction: column;
   box-shadow: 0 0 25px rgb(201, 198, 198);
   img {
      margin: 10px 15px;
   }
}

.header {
   display: flex;
   justify-content: start;
   align-items: center;
   border-bottom: 2px solid rgb(201, 198, 198);
   }
   
   p {
      font-size: 14px;
      font-weight: 600;
   }
   
   .user_block{
      display: flex;
      align-items: center;
      border-bottom: 2px solid rgb(201, 198, 198);
   }
   
   .dashboard {
      display: flex;
      align-items: center;
   } 
   
   .newsfeed {
      display: flex;
      align-items: center;
      position: relative;
      border-bottom: 2px solid rgb(201, 198, 198);
       a {
         text-decoration: none;
         color: black;
         p {
            position: absolute;
            display: inline-block;
            
         }
       } 
   }

   .actions {
      
      h4{
         margin: 10px 15px;
      }
      img {
         width: 30px;
      }
   }
   