button {
   max-width: 344px;
   padding: 8px 120px;
   border-radius: 20px;
   border: none;
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 1px;
   cursor: pointer;
   transition: 0.3s;
   margin-bottom: 32px;
   display: flex;
   align-items: center;
   color: white;
   background: #27AAF0;
   text-transform: uppercase; 
   box-sizing: border-box;
      img {
         padding-right: 10px;
       }   

      &:focus,
      &:hover {
         background-color: #2f95cc;
      }
}



