<div class="container">

   <div class="main-block">

      <div class="main__button">
         <div class="main_button-group">
            <a class="auth_link auth_register" routerLink="login" routerLinkActive="active">login</a>
            <a class="auth_link" routerLink="register" routerLinkActive="active">register</a>
         </div>
      </div>

      <div class="main__helloblock">
         <div class="title">
            Welcome to
         </div>
         <div class="subtitle">
            SKILL++
         </div>
         <div class="content">
            Curiosity is one of the permanent and certain characteristics<br>
            of a vigorous mind.
         </div>
      </div>
   </div>

   <div class="register-block">
      <router-outlet></router-outlet>
   </div>

</div>