<div class="row">
   <app-side-bar></app-side-bar>

   <div class="main_container" *ngFor="let item of article">
   
      <div class="list_title">
         <h2>{{item?.title}}</h2>
      </div>
      <div class="caption">
         <app-avatar-card></app-avatar-card>
         <app-like-card></app-like-card>
      </div>
     
      <div >
         <img class="img" alt="" src="{{item?.img}}" width="100%">
      </div>
      <div class="text_block">
         <h4>{{item?.tags1}}</h4>
         <p>{{item?.text}}</p>
         <h3>{{item?.tags2}}</h3>
         <p>{{item?.text1}}</p>
      </div>
   </div>
</div>  

