   <div class="user_card">
      <img alt="" src="{{article?.img}}" width="430" height="255">
      <div class="conrainer_content-block">

         <div class="card_content_block">
            <div class="card_tag_block">
               <a href="#" class="tags_block">{{article?.tags1}}</a>
               <a href="#" class="tags_block">{{article?.tags2}}</a>
            </div>
            <div class="content_block">
               <h2>{{article?.title | slice: 0:100}}</h2>
               <p>{{article?.text | slice: 0:100}}</p>
            </div>
            <div class="footer_block">
               <app-avatar-card></app-avatar-card>
               <app-like-card></app-like-card>
            </div>
         </div>
         
      </div>
   </div>

