.user_card {
   display: flex;
   box-shadow: 0 12px 25px #d6d6d6;
   border-radius: 5px;
   margin-bottom: 40px;
   max-width: 1000px;
   cursor: pointer;
   box-sizing: border-box;
}
.conrainer_content-block {
   display: flex;
   width: 100%;
   margin: 24px;
}

.card_content_block {
   width: 100%;
   height: 200px;
}

img {
   background-size: cover;
} 

.card_content_block {
display: flex;
flex-direction: column;
max-height: 200px;
}

.tags_block {
   padding: 8px 12px;
   border-radius: 20px;
   font-size: 14px;
   display: inline-block;
   text-decoration: none;
   font-size: 14px;
   font-family: serif;
   line-height: 18px;
   font-family: 'Quicksand', sans-serif;
   background: #d4d3d3;
   opacity: 60%;
   color: black;
   margin-right: 8px;
}

.content_block {
   max-width: 600px;
   min-height: 135px;
   h2 {
      font-size: 25px;
      line-height: 23px;
      font-style: 700;
      margin-bottom: 16px;  
   }
   
   p {
      font-size: 14px;
      line-height: 21px;
      font-style: 400;
      padding-right: 20px;   
   }
}

.footer_block {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}
