<div class="container">
   <div class="bar">
      <div class="header">
         <img alt="" src="/assets/img/icons/menu.png" width="20" height="14">
         <img alt="" src="/assets/img/logo/Black logo.png">
      </div>
      <div class="user_block">
         <img alt="" src="/assets/img/avatars/Default avatar.png" width="30" height="30">
         <p>Tylor Tyly</p>
      </div>
      <div class="pages_block">
         <div class="dashboard">
            <img alt="" src="/assets/img/icons/dashboard.png">
            <p>Dashboard</p>
         </div>
         <div class="newsfeed">
            <img alt="" src="/assets/img/icons/newspaper.png">
            <p>New Feed</p>
         </div>
      </div>

   </div>

   <div class="createArticle">
      <form [formGroup]="formForm" (ngSubmit)="onSubmit()">
         <div>
            <h2>Create new article</h2>
         </div>
         <div class="box" *ngFor="let user of article">

            <app-input [user]="user" [userForm]="formForm"></app-input>

         </div>

         <div class="form-area">
            <textarea name="textarea" cols="130" rows="10" formControlName="text"></textarea>
         </div>

         <div class="file">
            <input type="file" name="image" size="60" formControlName="imag">
         </div>

         <div class="button" *ngFor="let button of buttons">
            <app-button class="button" [button]="button"></app-button>
         </div>

         <img src="/src/assets/img/icons/create.svg" alt="">

      </form>
   </div>
</div>