<div class="container">
   <div class="bar">
      <div class="header">
         <img alt="" src="/assets/img/icons/menu.png" width="20" height="14">
         <img alt="" src="/assets/img/logo/Black logo.png">
      </div>
      <div class="user_block">
         <img alt="" src="/assets/img/avatars/Default avatar.png" width="30" height="30">
         <p>Tylor Tyly</p>
      </div>
      <div class="pages_block">
         <div class="dashboard">
            <img alt="" src="/assets/img/icons/dashboard.png">
            <p>Dashboard</p>
         </div>
         <div class="newsfeed">
            <img alt="" src="/assets/img/icons/newspaper.png">
            <p>New Feed</p>
         </div>
      </div>

   </div>

   <div class="main_container">

      <div *ngFor="let article of articles">
         <app-card-element [article]="article" (click)="goToDetails(article.id)"></app-card-element>
      </div>

   </div>
</div>
