<div class="container">

   <app-side-bar></app-side-bar>

   <div class="createArticle">
      <form [formGroup]="formForm" (ngSubmit)="onSubmit()">
         <div>
            <h2>Edite article</h2>
         </div>
         <div class="box" *ngFor="let user of article">

            <app-input [user]="user" [formForm]="formForm"></app-input>

         </div>

         <div class="form-area">
            <textarea name="text" cols="130" rows="10" formControlName="text"></textarea>
         </div>

         <div class="file">
            <input type="file" name="imag" size="60" formControlName="imag">
         </div>

         <div class="button" *ngFor="let button of buttons">
            <app-button class="button" [button]="button"></app-button>
         </div>

         <img src="/src/assets/img/icons/create.svg" alt="">

      </form>
   </div>
</div>
