.reactions {
   font-family: 'Quicksand', sans-serif;
   height: 25px;
   width: 85px;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   color: #313131;
   opacity: 50%;
   span {
      border-right: 2px solid black;
   }
}